 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
	<section>
		<div class="backimg">
			<div class="text-white text-center ">
				<h2>EmployeeProjectDeatil Management System</h2>
				<p>Start Collecting your project detail in very smarter way .We provide
					very difficult and smarter way of handling project.</p>
				<button class="btn bg-primary text-white">
				Get Start</button> 
			</div>
		</div>
	</section>
</body>
</html> 