<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
</head>
<body>
	<section>
	<div class="backimg">
		<div class="container p-5 mt-5">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card paint-card">
						<div class="card-body">
							<h1 class="form-signin-heading text-center"><span style="color: rgb(64, 0, 64); font-family: Monotype Corsiva;"> Login</span></h1>
							<hr>
							<form class="form-signin" method="post" th:action="@{/login}">

 
								 <div th:if="${param.error}" class="alert alert-danger">
									Invalid username & Password</div>

								<div th:if="${param.logout}" class="alert alert-success">
									Logout Sucessfully</div> 

								<div class="form-group">
									<label><b>Email Address</b></label>
									<input type="text" id="username"
										name="username" class="form-control mt-3" placeholder="Enter Email Address" required autofocus>
								</div>
								<div class="form-group mt-3">
									<label><b>Password</label></b> <input type="password" id="password"
										name="password" class="form-control mt-3" placeholder="Enter Password" required>
								</div>
								<button class="btn btn-light col-md-12 mt-3 text-white" style="width: 100px; background-color: rgb(0, 0, 160); border-color: #07302c;" type="submit">Sign
									in</button>
									<a href="/signup" class="btn btn-light mt-3 text-white" style="width: 100px; background-color: #d81b60; border-color: #07302c;">Sign Up</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
</body>
</html>