.backimg {
	background: url("../img/project_img.jpg");
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	position: fixed;
	background-size: cover;
}

.card{
	background-color: rgb(192, 192, 192);
}

.bg-custom {
	background-color: rgb(64, 0, 64);
}

.transparentbox {
	width: 100%;
	height: 650px;
	background-color: lightgrey;
	border: 1px solid #CD853F;
	opacity: 0.6;
}

.transparentbox p{
	margin-top: 15%;
	font-weight: bold;
	font-size: 60px;
	font-family: 'Monotype Corsiva';
	color: red;
	text-align: center;
}

.transparentbox h2{
	margin-top: 15%;
	font-weight: bold;
	font-size: 60px;
	font-family: 'Monotype Corsiva';
	color: red;
  	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.navbar .nav-item .nav-link {
	font-size: 20px;
	color: white;
}

.navbar .nav-item:hover .nav-link {
	background: white;
	color: rgb(255, 128, 128);
	border-radius: 10px;
}

.mydivstyle:hover{
box-shadow:0 0 20px 0 rgb(0, 0, 0);
transform:translateY(-20px);
}

.mydivstyleone:hover{
box-shadow:0 0 20px 0 rgb(0, 0, 0);
transform:translateY(-20px);
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5);
  transform: scale(1.5); 
}


.contactlink {
	color: #EE1D29;
}


.contactlink:hover {
	color: red;
}

.container1 {
	background-color: lightgrey;
	border-radius: 8px;
}

h2, h4 {
	padding: 10px;
}

.mydiv:hover {
	transform: translateY(-10px)
}

.glow {
	font-size: 80px;
	color: #fff;
	text-align: center;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from { 
  text-shadow :0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
	0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
	text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px
		#ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}