<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="employee/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>View Project</title>
</head>
<body>
	<section>
		<div class="container mt-5">
			<h1 class="text-center text-success"><span style="font-family: 'Monotype Corsiva';">Project Details</span></h1>
			<hr>
			 <div th:if="${session.msg}"
				 class="text-center"
				role="alert">

				<h4 th:text="${session.msg}"></h4>
				<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
			</div> 

			<div class="col-md-12 mt-3" th:each="n:${project}">
				<div class="card paint-card">
					<div class="card-body">
						<div class="text-center">
							<img alt="" th:src="@{/img/paper.png}"
								style="width: 50px; height: 50px;">
						</div>
						

						<h5>[[${n.name}]]</h5>
						
						  <p>
							[[${n.description}]] <br> <br> 
							
							

						</p>
						
						<div class="text-center">
							<a th:href="@{'/employee/editProject/'+${n.id}}" class="btn btn-primary btn-sm"><i class="fas fa-pen-to-square"></i> Edit</a>
							
							 <a
								th:href="@{'/employee/deleteProject/'+${n.id}}" class="btn btn-danger btn-sm ml-2"><i class="fas fa-trash"></i> Delete</a>
						</div>
					</div>
				</div>
			</div>




			<div class="row p-4">
				<div class="col-md-4">Total Elements : [[${totalElement}]]</div>
				<div class="col-md-6">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							
							<li th:classappend="${pageNo==0} ? 'disabled':'' " class="page-item">
							<a class="page-link" th:href="@{'/employee/viewProject/'+${pageNo-1} }"
							
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							</a>
							
							</li>
							
							
							<li th:each="i:${#numbers.sequence(1,totalPage)}" th:classappend="${pageNo+1==i}?'active':''" class="page-item">
							
							<a th:href="@{'/employee/viewProject/' +${i-1} }" class="page-link" href="#">[[${i}]]</a>
							
							</li>
							
							<li th:classapppend="${pageNo+1==totalPage} ? 'disabled' :  '' " class="page-item">
							<a class="page-link" th:href="@{'/employee/viewProject/'+${pageNo+1}}"
								aria-label="Next"> <span aria-hidden="true">&raquo;</span>
							</a>
							</li>
							
						</ul>
					</nav>
				</div>
			</div>

		</div>

	</section>
</body>
</html>